<%- include('../partials/header.ejs') %>
<br>
<p style="color:blue;"> You need to Log In </p> <br>
<br>
<form method="GET" action ="/auth/login" class="">
    <input class="btn btn-primary" type="submit" value="Login"/>
</form>
</div>
<%- include('../partials/footer.ejs') %>


